/* Education.module.css */

.education {
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(135deg, #e2f0fb, #fff);
  position: relative; /* For positioning the pseudo-element */
  overflow: hidden; /* To hide any overflow of the animated background */
}

.education::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
  animation: pulse 10s infinite alternate; /* Animated background effect */
  z-index: 0; /* Behind other content */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.05);
    opacity: 0.7;
  }
}

.educationContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* To position items above the pseudo-element */
  z-index: 1; /* Ensure items are on top of the background */
}

.educationItem {
  background-color: var(--background-color);
  padding: 2.5rem 2rem;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.educationItem:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logoContainer img {
  width: 40px; /* Reduced image size */
  height: 40px; /* Maintain aspect ratio */
  margin-right: 1rem;
  border-radius: 50%; /* Circular image */
  border: 3px solid var(--primary-color);
}

.degree {
  font-size: 1.2rem;
  color: yellowgreen;
  margin: 0.5rem 0;
}

.year {
  font-size: 1rem;
  color: #999999;
  display: inline-block;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: var(--subtext-color);
  line-height: 1.6;
  margin-top: 1rem; /* Add margin for better spacing */
}

.toggleIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.toggleIcon {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-top: 1rem; /* Add space for the icon */
}

.expanded {
  background-color: #e7f9f2; /* Light green background for expanded items */
}

/* Media Queries */
@media (max-width: 600px) {
  .educationItem {
    padding: 1.5rem 1rem;
  }
  
  .logoContainer img {
    width: 35px; /* Further reduce size for mobile */
    height: 35px;
  }
}
